@page "/about"
@rendermode InteractiveServer

<PageTitle>About</PageTitle>

<div class="specialities">
    <p class="specText">ABOUT US</p>
</div>
<div class="abtHead">

    <div>
        <img src="/assets/hospital1.png" style="width: 30rem;">

    </div>
    <div>
        <p>With A Vision To Provide The Utmost Level Of Healthcare To The Common Man, At The Most Affordable Cost, Dr.
            Purshotam Lal (Padma Vibhushan, Padma Bhushan And Dr. B.C. Roy National Awardee), A Pioneer OfInterventional
            Cardiology In India, Founded Metro Group Of Hospitals. India’s Large And Diverse Population Warrants An
            Efficient Health Care Infrastructure That Should Be Accessible To All Strata’s Of Society. Good Quality
            Health Care Should Not Be A Privilege Of The Elite Only. Metro Group Of Hospitals Was Setup In 1997 By Padma
            Vibhushan And Dr. B C Roy National Awardee Dr. Purshotam Lal (Chairman), With The Vision And Endeavours To
            Bring The Best Possible Health Care To The Masses Of India. In Order To Achieve This, Metro Group Of
            Hospitals Has Evolved As A Committed Group Which Provides Advanced Medical Care At Much Affordable Prices.
            Their Focus Has Always Been On The Patients Of The Lower And Middle Sections Of Society, Patients Who Are
            Rejected By The Large Corporate Hospitals, And Who Cannot Afford Expensive Medical Care But Definitely
            Deserve Empathy. They Believe That Medicine Is A Noble Profession And Sick Must Not Be Rejected On Monetary
            Grounds. Metro Group Of Hospitals Is A Group Of 11 Hospitals And 1 College (Metro College Of Health Sciences
            And Research), Having More Than 2500 Beds Flourishing Hospitals And Leading One Of The Biggest Group Of
            Hospitals In India, Out Of Which 10 Are NABH Accredited (NABH – Is The Highest Accreditation Body In India)
            And 4 Are NABL Accredited (NABL Is The Highest Body For The Accreditation Of Laboratory Services). Metro
            Group Of Hospitals Has An Outstanding And Recognized Team Of Doctors Led By Dr. Purshotam Lal In All
            Specialities Including Cardiology, Gastroenterology, Nephrology, Respiratory, Oncology, Orthopaedics Joint
            Replacement, Gastro And Bariatric Surgery, Neurology And Neurosurgery Etc. All Their Senior Doctors Are
            Former Deans, Professors Or Directors Of Reputed Institutes. It Is A Matter Of Great Pride That They, At
            Metro, Have Created A Facility And An Atmosphere Of Team-Work And Cross-Opinions With All Related Doctors
            And These Inputs And Discussions Shared Between Many Scientific Minds Greatly Benefit Their Patients. They
            Continue To Be A Leader In The Industry For The Personal Approach They Take With Every Patient. Their
            Professional Team Provides Exceptional Service And Employs The Highest Standards Of Patient Care. Many
            Hospitals Across The Country Refer Their Most Difficult Cases To Metro Group Of Hospital. This Is A True
            Testimony To The Skill And Knowledge Of Dr. Purshotam Lal And His Professional Team.</p>
    </div>
</div>

<div class="abtgrid">
    <div class="abtgridHead">
        <p style="font-size: 30px;
    font-weight: 500;">Our Vision</p>
        <img src="/assets/eye.png" style="width: 5rem; padding-bottom:10px">
        <p>Our Vision Is To Achieve Excellence In Healthcare Services By Offering Unique Expertise, State Of The Art
            Technology Patient Care. Metro Group Of Hospitals Is Committed In Providing World Class Health Care.</p>
    </div>
      <div style="border: 5px solid #90ee8f;
    width: 20rem;
border-radius:20px;

    padding: 2rem;
    height:471px;

    text-align: center;">
        <p style="font-size: 30px;
    font-weight: 500;">Our Mission</p>
        <img src="/assets/target.png" style="width: 5rem; padding-bottom:10px">
        <p>Our Immediate Agenda Is To Set Up More Such Dedicated Centres For Providing Wholesome Treatment To Patients From All Over The Country And Abroad. We Are Committed To Continuing To Seve Humanity.</p>
    </div>
    <div style="border: 5px solid #90ee8f;
    width: 20rem;
    height:471px;
border-radius:20px;


    padding: 2rem;

    text-align: center;">
        <p style="font-size: 30px;
    font-weight: 500;">Our Values</p>
        <img src="/assets/handshake.png" style="width: 5rem; padding-bottom:10px">
        <p>5 Pillars Of Excellence</p>
            <ul>
                    <li>Transparency</li>
                    <li>Affordability</li>
                    <li>Trust</li>
                    <li>Patient Care</li>
                    <li>Commitment</li>
                </ul>
    </div>

</div>
