@page "/cancer-care"
@rendermode InteractiveServer

<PageTitle>Cancer</PageTitle>

<div class="doctor">
    <p class="specText">Cancer</p>
</div>
<div style="display: flex; justify-content:space-between; align-items:center; padding-left:8rem; padding-right:8rem">
    <div style="width: 50rem;">
        <p style="font-size: 50px; font-weight:500">Overview</p>
        <p style="font-size: 18px;">At Max Institute Of Cancer Care, We Offer A Holistic And Integrated Treatment By Consolidating Views Of Experts In Surgical Oncology, Radiation Oncology, And Medical Oncology. Our Best Cancer Doctors At Saket, Patparganj, Vaishali, Shalimar Bagh, Gurgaon, Max Smart, Lajpat Nagar, Mohali And Bathinda, Specialize In Treating Cancers Affecting Breast, Head And Neck, Lung, Gastrointestinal Tract And Others. We Believe In Treating Cancer With A Combination Of Chemotherapy, Radiation Therapy, Surgery And Targeted Therapy. We Are The First Facility In Northern India To Acquire Novalis Tx For IMRT/IGRT, Radiosurgery, HIPEC And SRS/SRT. Additionally, We Are Equipped With An Advanced Da Vinci XI Robotic System For Treating Complex Conditions Like Cancers Of Prostate, Cervix, Colon/Rectum, As Well As Heart Tumors. The Procedure Is The Next Frontier For Minimally Invasive Surgery.</p>

    </div>
    <div>
        <img src="/assets/cancer-ribbon.png" style=" width: 25rem;">
    </div>
</div>