@page "/doctors"
@rendermode InteractiveServer

<PageTitle>Doctors</PageTitle>

<div class="doctor">
    <p class="specText">DOCTORS</p>
</div>
<div style="display:flex; justify-content:center; align-items:center; flex-direction:column ">
    <div class="doclist">
        <img src="/assets/Doc-1.jpg" style=" width: 200px;">
        <div>
            <p class="doctext">DR. ABHISHEK GUPTA</p>
            <p class="doctext">Department - Neurosciences</p>
        </div>
        <button class="docbutton"><a href="/Book-Appointment" class="dochref">Make A Appointment</a></button>
    </div>
    <div class="doclist">
        <img src="/assets/Doc-5.jpg" style=" width: 200px;">
        <div>
            <p class="doctext">DR.KABIR
            </p>
            <p class="doctext">Department - CANCEL CARE
            </p>
        </div>
        <button class="docbutton"><a href="/Book-Appointment">Make A Appointment</a></button>



    </div>
    <div class="doclist">
        <img src="/assets/Doc-1.jpg" style=" width: 200px;">
        <div>
            <p class="doctext">DR.MARINA
            </p>
            <p class="doctext">Department - CANCEL CARE
            </p>
        </div>
        <button class="docbutton"><a href="/Book-Appointment">Make A Appointment</a></button>



    </div>
    <div class="doclist">
        <img src="/assets/Doc-3.jpg" style=" width: 200px;">
        <div>
            <p class="doctext">DR.PARAM
            </p>
            <p class="doctext">Department - Heart Care
            </p>
        </div>
        <button class="docbutton"><a href="/Book-Appointment">Make A Appointment</a></button>



    </div>
    <div class="doclist">
        <img src="/assets/Doc-5.jpg" style=" width: 200px;">
        <div>
            <p class="doctext">DR.GURTEG
            </p>
            <p class="doctext">Department - Liver Care
            </p>
        </div>
        <button class="docbutton"><a href="/Book-Appointment">Make A Appointment</a></button>



    </div>
    <div class="doclist">
        <img src="/assets/Doc-5.jpg" style=" width: 200px;">
        <div>
            <p class="doctext">DR.AMAN SANDHU

            </p>
            <p class="doctext">Department - Orthopaedics

            </p>
        </div>
        <button class="docbutton"><a href="/Book-Appointment">Make A Appointment</a></button>



    </div>

</div>