@page "/eyecare"
@rendermode InteractiveServer

<PageTitle>EYE CARE</PageTitle>

<div class="doctor">
    <p class="specText">EYE CARE</p>
</div>
<div style="display: flex; justify-content:space-between; align-items:start; padding-left:8rem; padding-right:8rem">
    <div style="width: 50rem;">
        <p style="font-size: 50px; font-weight:500">Overview</p>
        <p style="font-size: 18px;">We At Max Hospital Deliver Advanced Eye Care And Specialize In Eye Surgery In India.
            We Have The Pioneering Technology And Highly Experienced Team Of Doctors Who Aim At Quick And Best Recovery
            Of Our Patients.</p>
        <p>
            Be It Surgical Or Non-Surgical Treatment Options; We Offer The Best Of Them At Our Facility. Till Now, We
            Have Helped Hundreds Of People To Cherish Their Dreams Of Sight.</p>
        <p style="font-size: 30px; font-weight:500">Eye Disorders And Diseases</p>
        <p style="font-size: 18px;">There Area Several Eye Diseases That Can Cause Serious Vision Troubles.</p>
        <p style="font-size: 18px;">
            Cataract Leads To The Formation Of The Dense And Cloudy Area In One Or Both Eyes. As It Develops Slowly,
            This Condition Makes It Difficult For The Person To See Clearly. Common Symptoms A Person May Experience Due
            To Cataract Are Clouded And Dim Vision, Sensitivity To Glare, Seeing Halos Around The Lights, Double Vision,
            And Fading Of Colors.</p>
        <p style="font-size: 18px;">Glaucoma Is A Disease That Can Damage The Optic Nerve And Lead To Permanent Vision
            Loss, If Left Untreated. In Most Cases Has No Symptoms Other Than Gradual Loss Of Vision, It Is Difficult To
            Self-Diagnose It. Hence, It Is Important That People Must Get Their Eye Checkup Done From An Eye Hospital In
            India Whenever They Experience Trouble In Vision Or Every 1 – 2 Years After The Age Of 40. We Can Diagnose
            Glaucoma With Advance Equipments Like OCT, Perimetery, Pachymetry. Treatment With Medications Or Advance
            Surgery.
        </p>
        <p style="font-size: 18px;">Also Known As Pink Eye, This Disease Is Caused By A Bacteria Or Virus Leading To
            Inflammation Of The Inner Eyelid And The Outer Membrane Of The Eyeball. Its Symptoms Include Redness,
            Irritation, Tearing, And Discharge In Or Around The Eyes. At Max Healthcare, We Offer The Best Eye Treatment
            For Conjunctivitis While Keeping In Mind The Patient’s Present Health Condition.

        </p>
       


    </div>
    <div>
        <img src="/assets/eye.png" style=" width: 100%;">
    </div>
</div>