@page "/gastro"
@rendermode InteractiveServer

<PageTitle>GASTROENTEROLOGY, HEPATOLOGY & ENDOSCOPY
</PageTitle>

<div class="doctor">
    <p class="specText">GASTROENTEROLOGY, HEPATOLOGY & ENDOSCOPY</p>
</div>
<div style="display: flex; justify-content:space-between; align-items:start; padding-left:8rem; padding-right:8rem">
    <div style="width: 50rem;">
        <p style="font-size: 50px; font-weight:500">Overview</p>
        <p style="font-size: 18px;">Gastroenterology Deals In Treating Diseases Related To Gastrointestinal Tract And Disorders Associated With It. The Branch Also Includes The Understanding Of Gastrointestinal Organs, Like The Functioning Of The Liver, Digestion And Absorption, Removal Of Waste And Several Others. Any Gastrointestinal Disorder Can Cause Problems In Stomach, Esophagus, Pancreas, Gallbladder, Liver, Small And Large Intestines. A Gastroenterologist Has A Broad Scientific Knowledge To Provide Gastroenterology Treatment And Optimal Health Care For Patients..</p>
        <p style="font-size: 30px; font-weight:500">Who Is A Gastroenterologist?</p>

        <p style="font-size: 18px;">A Gastroenterologist Is A Physician Who Specializes In Gastroenterology (DM Gastroenterology) And Offers All Kinds Of Medical Treatments Related To The Speciality. They Undergo Training In The Management Of Diseases Of The Liver And Gastrointestinal Tract. The Gastroenterologist Takes A Broad Understanding Of The Symptoms At Presentation Like Difficulty In Swallowing, Constipation, Heartburn, Loose Motions, Vomiting And Renal Bleeding To Diagnose And Treat Conditions Effectively. We At Max Healthcare Are Committed To Offer Best In Class Healthcare Services For Our Patients To Treat Life-Threatening Acute Medical Problems</p>
         <p style="font-size: 18px;">Gastroenterologists Do Extensive Research Involving Gastrointestinal Endoscopic Treatment And Procedures As Well As The Interpretation Of Results And Are Experts In The Field. Furthermore, It Is Their Aptitude To Provide Broad, Precise, And Thorough Care For Patients With Gastrointestinal Conditions, Which Differentiates Them From Other Physicians That Provide Similar Services. Conditions And Treatments Taken Care By Gastroenterologists Include Peptic Ulcer, Irritable Bowel Syndrome, Inflammatory Bowel Disease, Esophageal Cancer And Colon Cancer. They Also Perform Endoscopic Therapeutic Interventions.

</p>
 <p style="font-size: 18px;">Endoscopy Is Part Of The Endoscopic Treatment Which Is Used By The Doctors For A Better Diagnosis Of The Condition The Patient Is Suffering From. An Endoscope Is A Flexible Tube With A Small Camera Attached To It Which Is Used To Perform The Test. An Endoscope Is Generally Used To Inspect Body Parts Like Urinary Tract, Respiratory Tract, Ear, Gastrointestinal Tract, And The Reproductive System. A Gastroenterologist May Perform Endoscopy Procedure To Identify The Root Cause Of Abdominal Pain, Gastrointestinal Bleeding, Ulcers Or Difficulty In Swallowing, Polyps Or Growth In Colon And Cancer Of The Digestive System. After A Successful Diagnosis, The Doctor Charts Out The Right Medical Therapy To Cure The Condition.

</p>
  <p style="font-size: 18px;">Endoscopic Treatment Has Various Advantages Including Minimum Blood Loss, Less Pain, No Tissue Or Muscle Trauma, And Low Risk Of Infection. In The Last Few Decades, The Advantages Of Endoscopic Treatment And Procedures In The Field Of Gastroenterology Have Augmented Significantly. The Technologies Used For Gastroenterology Treatment Have Also Enhanced In The Same Way, Thereby Reducing The Risk Of Complications. As Such, These Problems Are And Can Easily Be Treated Or Prevented By The Methods Suggested By A Gastroenterologist. In Deciding Whether To Use Endoscopic Procedures During A Gastroenterology Consultation, Gastroenterologist Typically Weighs Whether The Possible Benefits Of The Procedures Outweigh Their Risks.
</p>

        
        <p style="font-size: 30px; font-weight:500">Does Gastroenterology Treatment Work?</p>
       

       <p style="font-size: 18px;">A Gastroenterology Treatment Usually Starts In A Gastroenterologist’s Clinic Or A Hospital. It Typically Begins With A Clinic Staff Recording The Patient’s Blood Pressure Level, Heart Rate, And Weight. They Also Take A Record Of Patient’s Medications, Allergies And Medical History. During The Consultation, The Doctor May Perform Lab Tests, X-Rays, Motility Tests And Endoscopic Procedures And Interventions. The Whole Visit Typically Takes Around 30 Minutes To An Hour, Or Longer If The Gastroenterologist Performs Endoscopic Procedures Simultaneously.
</p>




    </div>
    <div style="padding-top:4rem;">
        <img src="/assets/Gastroenterology.png" style=" width: 100%;">
    </div>
</div>