@page "/HeartVascular"
@rendermode InteractiveServer

<PageTitle>Cancer</PageTitle>

<div class="doctor">
    <p class="specText">HeartVascular</p>
</div>
<div style="display: flex; justify-content:space-between; align-items:start; padding-left:8rem; padding-right:8rem">
    <div style="width: 50rem;">
        <p style="font-size: 50px; font-weight:500">Overview</p>
        <p style="font-size: 18px;">Cardiovascular Disease (CVD) Is Often Interchangeably Used With The Term Heart Disease. Max Institute Of Heart And Vascular Sciences, Which Is One Of The Best Heart Hospitals In India Provides Treatment For Conditions Like Heart Defects, Congenital Heart Disease, Pulmonary Heart Failure, And Coronary Artery Diseases.</p>
        <p style="font-size: 18px;">We Are A Tertiary Care Centre Equipped With Cutting Edge Technology To Offer Cardiac Care Program To Our Patients. We Also Offer An Alternative Treatment For End-Stage Heart Failure Patients With Procedures Like Pacemaker, ACD, CRT, Heart Hole Surgeries (ASD, VSD, PDA), Paediatric Cardiac Surgery, Angioplasty/Angiography. Our Institute Is A One-Stop Destination For Several Kinds Of Cardiac Treatments Like Invasive And Interventional Cardiology, Electrophysiology, Pacemaker And Arrhythmia Services, Management Of Abdominal And Descending Thoracic Aneurysm And Varicose Veins.</p>
        <p style="font-size: 18px;">Our Hospitals Are Equipped With State Of The Art Cath Labs, Operation Theatres, And Several Other Heart Care Technologies.</p>
        <p style="font-size: 30px; font-weight:500">What Is Cardiology?</p>
        <p style="font-size: 18px;">Derived From The Greek Words, “Cardia” Meaning Heart And “Logy” That Means “Study Of”, Cardiology Is The Branch Of Medicine That Deals With The Defects And Diseases Associated With The Heart. Such Diseases Are Managed By Cardiologists. Max Hospitals Have Team Of Best Cardiologists In India. The Surgery, However, Is Performed By Heart Surgeons Who Specialize In Surgical Procedures To Correct Heart Problems. Below Are Some Of The Important Things People Should Know About Cardiovascular Diseases: At Max Institute Of Heart And Vascular Sciences, We Use The Latest Technologies And Methodologies To Be The Best Cardiac Hospital In India.</p>
        <p style="font-size: 30px; font-weight:500">Types Of Cardiovascular Diseases</p>
        <p style="font-size: 18px;">Most Of The Heart Problems Occur Due To Structural Problems, Blood Clots And Damaged Vessels. Some Of The Most Common Types Of Cardiovascular Diseases Include: Angina, Arrhythmia, Heart Attack, Heart Failure, Rheumatic Heart Disease, Congenital Heart Disease And Valvular Heart Disease</p>
        <p style="font-size: 30px; font-weight:500">Diagnosis</p>
        <p style="font-size: 18px;">Most Of The Cardiovascular Diseases Share Some Common Signs And Symptoms Such As Shortness Of Breath And Pain In The Chest. This Leads To Confusion Among The Patients And Instead Of Visiting The Top Heart Hospital In India, They Start Self-Diagnosis Or Even Self-Treatment. Self-Treatment May Worsen The Situation. To Avoid Serious Complications, People Are Advised To Seek Medical Assistance And Get The Diagnosis Done For Suitable Treatment Done On Time. We At Max Healthcare Are Considered As The Best Hospital In Delhi As We Have Modern Diagnostic Machines That Give Accurate Results. Below Are Some Of The Common Diagnostic Tests That Are Performed To Diagnose Cardiovascular Diseases:</p>


    </div>
    <div>
        <img src="/assets/heart.png" style="padding-top: 4rem; width: 100%;">
    </div>
</div>