@page "/"
<PageTitle>Home</PageTitle>

<div class="home">
    <img src="/assets/Hospitalbed.png" alt="Description of Image" style="height:25rem" />
    <div style="padding: 50px;">
        <p style="font-size: 50px;
              font-weight: 500;">Stay Safe, Stay Healthy</p>
        <p style="font-size: 18px;">The Aim Of A Hospital Is To Provide High-Quality Medical Care To Patients Who Are
            Sick, Injured Or Requiring
            Medical Attention. The Primary Objective Of A Hospital Is To Promote Good Health, Alleviate Suffering And
            Save Lives. It Aims To Achieve This By Delivering A Wide Range Of Healthcare Services, Including Diagnosis,
            Treatment, Rehabilitation, And Prevention Of Diseases.</p>
        <Button class="btnbook">Book Apointment</Button>
    </div>

</div>
<p class="service">OUR SERVICES</p>
<div class="servicGrid">

    <div class="serviceCol">
        <p class="servicep">Free Checkups</p>
        <img src="/assets/health-check.png" alt="Description of Image" class="serviceimg" />

        <p style="padding-top: 1rem;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos explicabo iure,
            aliquid, consequatur assumenda
            a
            blanditiis natus, quibusdam quis repudiandae ex magnam? Numquam quaerat totam minima provident, amet omnis
            dolor.</p>
    </div>
    <div class="serviceCol">
        <p class="servicep">24/7 Ambulance</p>
        <img src="/assets/ambulance.png" alt="Description of Image" class="serviceimg" />

        <p style="padding-top: 1rem;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos explicabo iure,
            aliquid, consequatur assumenda
            a
            blanditiis natus, quibusdam quis repudiandae ex magnam? Numquam quaerat totam minima provident, amet omnis
            dolor.</p>
    </div>
    <div class="serviceCol">
        <p class="servicep">Free Checkups</p>
        <img src="/assets/doctor.png" alt="Description of Image" class="serviceimg" />

        <p style="padding-top: 1rem;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos explicabo iure,
            aliquid, consequatur assumenda
            a
            blanditiis natus, quibusdam quis repudiandae ex magnam? Numquam quaerat totam minima provident, amet omnis
            dolor.</p>
    </div>
    <div class="serviceCol">
        <p class="servicep">Free Checkups</p>
        <img src="/assets/drug.png" alt="Description of Image" class="serviceimg" />

        <p style="padding-top: 1rem;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos explicabo iure,
            aliquid, consequatur assumenda
            a
            blanditiis natus, quibusdam quis repudiandae ex magnam? Numquam quaerat totam minima provident, amet omnis
            dolor.</p>
    </div>
    <div class="serviceCol">
        <p class="servicep">Free Checkups</p>
        <img src="/assets/hospital-bed.png" alt="Description of Image" class="serviceimg" />

        <p style="padding-top: 1rem;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos explicabo iure,
            aliquid, consequatur assumenda
            a
            blanditiis natus, quibusdam quis repudiandae ex magnam? Numquam quaerat totam minima provident, amet omnis
            dolor.</p>
    </div>
    <div class="serviceCol">
        <p class="servicep">Free Checkups</p>
        <img src="/assets/cardiogram.png" alt="Description of Image" class="serviceimg" />

        <p style="padding-top: 1rem;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos explicabo iure,
            aliquid, consequatur assumenda
            blanditiis natus, quibusdam quis repudiandae ex magnam? Numquam quaerat totam minima provident, amet omnis
            dolor.</p>
    </div>
</div>
<div class="about">
    <p class="service">ABOUT US</p>
    <div class="aboutHead">
        <img src="/assets/Doctorsbro.png" alt="Description of Image" class="aboutimg" />

        <div class="aboutPara">
            <p class="paraHead">We Take Care Of Your Health Life</p>
            <p class="paraHead2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptates soluta
                consequatur natus,
                nemo maiores dolorum at et repudiandae, ratione nisi veritatis quaerat pariatur ipsam quas obcaecati
                facere explicabo dolore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil
                voluptatibus deserunt deleniti quaerat exercitationem soluta laudantium omnis. Magnam, numquam at dolor
                nostrum quaerat labore quidem consequuntur? Dolorum, earum distinctio?</p>
        </div>
    </div>

</div>
<div class="doctors">
    <p class="service">OUR DOCTORS</p>
    <div class="ourDoctors">
        <div class="doctorHead">
            <img src="/assets/Doc-1.jpg" alt="Description of Image" class="doctorimg" />
            <p style="font-size:18px; font-weight:600; padding-top:10px">Dr. John Deo</p>
        </div>
        <div class="doctorHead">
            <img src="/assets/Doc-2.jpg" alt="Description of Image" class="doctorimg" />
            <p style="font-size:18px; font-weight:600; padding-top:10px">Dr. Bravo</p>
        </div>
        <div class="doctorHead">
            <img src="/assets/Doc-3.jpg" alt="Description of Image" class="doctorimg" />
            <p style="font-size:18px; font-weight:600; padding-top:10px">Dr. Mehak Sandhu</p>
        </div>
        <div class="doctorHead">
            <img src="/assets/Doc-5.jpg" alt="Description of Image" class="doctorimg" />
            <p style="font-size:18px; font-weight:600; padding-top:10px">Dr. Gurleen Kaur</p>
        </div>
    </div>
    <div>
        <div class="appointHead">
            <p class="appointment">APPOINTMENT</p>
            <div class="appointSub">
                <div>
                    <img src="/assets/injury.svg" alt="Description of Image" class="injuryimg" />
                </div>
                <div class="formhome">
                    <p style="font-size: 20px; font-weight:600">Book Appointment</p>
                    <form class="font-semibold" onsubmit="handleBookSubmit1(event)">
                        <input type="name" id="name" name="name" placeholder="Full Name" class="apointInput"><br><br>

                        <input type="age" id="age" name="age" placeholder="Age" class="apointInput"><br><br>

                        <input type="phone" id="phone" name="phone" placeholder="Phone Number"
                            class="appointInput"><br><br>

                        <input type="email" id="email" name="email" placeholder="Email" class="appointInput"><br><br>

                        <input type="date" id="date" name="date" placeholder="Appointment Date"
                            class="appointInput"><br><br>

                        <textarea id="reason" name="reason" placeholder="Reason for Appointment"
                            class="apointInput"></textarea><br><br>

                        <button id="submit-btn" class="apointInput">Book</button>
                        <div id="error-message" style="color: red;"></div>
                        <div id="success-message" style="color: green;"></div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>


<script>
    async function handleBookSubmit1(event) {
        event.preventDefault();

        const name = document.querySelector('#name').value;
        const age = document.querySelector('#age').value;
        const phone = document.querySelector('#phone').value;
        const email = document.querySelector('#email').value;
    @* const appointmentDate = document.querySelector('#appointmentDate').value; *@
        const reason = document.querySelector('#reason').value;

        const appointmentData = { name, email, reason, age, phone };

        try {
            const response = await fetch('http://localhost:5126/bookAppointment', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(appointmentData)
            });

            const result = await response.json();
            console.log(result?.error)
            if (response.ok) {
                const successMessage = document.querySelector('#success-message');
                successMessage.textContent = `Success: ${result?.message}`;
                console.log(result); // User created successfully
            } else {
                const errorMessage = document.querySelector('#error-message');
                errorMessage.textContent = `Error: ${result?.error}`;
            }
        } catch (error) {
            const errorMessage = document.querySelector('#error-message');
            errorMessage.textContent = `Error: ${result?.error}`;
        }
    }

</script>