@page "/neuroscience"
@rendermode InteractiveServer

<PageTitle>NEUROSCIENCES</PageTitle>

<div class="doctor">
    <p class="specText">NEUROSCIENCES</p>
</div>
<div style="display: flex; justify-content:space-between; align-items:start; padding-left:8rem; padding-right:8rem">
    <div style="width: 50rem;">
        <p style="font-size: 50px; font-weight:500">Overview</p>
        <p style="font-size: 18px;">The Institute Of Neurosciences Provides Round-The-Clock, Comprehensive Diagnostic And Therapeutic Neurology Services, According To Evidence Based Protocols Set As Per Internationally Accepted Guidelines. Our Casualty Services Are Available Round-The-Clock For Diagnosis And Early Management Of Neurological Emergencies Like Status Epilepticus, Stroke And Neuromuscular Weakness, Encephalitis, Meningitis, Other Neuroinfectious Diseases And Behaviour Changes.</p>
        <p style="font-size: 30px; font-weight:500">Department Of Neurology & Stroke</p>

        <p style="font-size: 18px;">Neurosurgery Deals With Diseases Of Brain, Spinal Cord, Spine And Nerves. Diseases Such As Trauma (Cranio Spinal Trauma), Brain Tumours, Intracranial Aneurysms, Arteriovenous Malformation, Hydrocephalus, Brain Abscess Etc. Afflict Brain And Spinal Cord. If These Are Not Diagnosed And Treated Properly And Timely, They May Result In Severe Disability And Even Death. We At Max Instaitute Of Neurosciences, Have A Team Of Dedicated, Highly Qualified And Experienced Neurosurgeons, Neuroanaesthetists, Intensive Care Specialists And Other Technical Support Staff. The Department Has All The Latest Equipment For Successfully Carrying Out Neurosurgical Operations</p>
        <p style="font-size: 30px; font-weight:500">Department Of Neurosurgery & Spine</p>
        <p style="font-size: 18px;">ANeurosurgery Deals With Diseases Of Brain, Spinal Cord, Spine And Nerves. Diseases Such As Trauma (Cranio Spinal Trauma), Brain Tumours, Intracranial Aneurysms, Arteriovenous Malformation, Hydrocephalus, Brain Abscess Etc. Afflict Brain And Spinal Cord. If These Are Not Diagnosed And Treated Properly And Timely, They May Result In Severe Disability And Even Death. We At Max Instaitute Of Neurosciences, Have A Team Of Dedicated, Highly Qualified And Experienced Neurosurgeons, Neuroanaesthetists, Intensive Care Specialists And Other Technical Support Staff. The Department Has All The Latest Equipment For Successfully Carrying Out Neurosurgical Operations.
</p>
        <p style="font-size: 30px; font-weight:500">Department Of Interventional Neurology</p>

        <p style="font-size: 18px;">The Department Of Interventional, Promises To Provide A Solution To Most Of The Complicated Brain Diseases In A Minimally Invasive Way. The Team Is Enriched With Specialists Skilled To Do Delicate And High Precision Procedures Through The Intra-Arterial/Intravenous Route, Providing No Trauma, Fast Recovery, And Minimal Post Surgery Complications. At Max Institute Of Neuroscience, , Department Of Interventional Neurology & Stroke, We Ensure Deliverance Of International Class Patient Centric Service. Where Ethics And Morality Are The Guiding Principles On Which The Foundation Of The Department Is Laid. Our Focus Is To Provide Comprehensive Stroke Management & Treatment.</p>

        



    </div>
    <div style="padding-top:4rem;">
        <img src="/assets/neuroscience.png" style=" width: 100%;">
    </div>
</div>