@page "/ortho"
@rendermode InteractiveServer

<PageTitle>ORTHOPAEDICS</PageTitle>

<div class="doctor">
    <p class="specText">LIVER TRANSPLANT AND BILIARY SCIENCES</p>
</div>
<div style="display: flex; justify-content:space-between; align-items:start; padding-left:8rem; padding-right:8rem">
    <div style="width: 50rem;">
        <p style="font-size: 50px; font-weight:500">Overview</p>
        <p style="font-size: 18px;">Musculoskeletal Sciences Offers Comprehensive Care For Several Orthopaedic Afflictions Including Knee, Hip, And Joint Problems. We Are Dubbed As The Top Orthopedic Hospital In India And Are Equipped With A Wide Array Of Specialties Ranging From Sports Medicine, Paediatric Orthopaedic Services, Arthritis Diagnosis To Treatment And Pain Management. We Focus On Providing The Highest Level Of Patient Care With Professional Expertise For Early Mobilization And Have Taken Orthopedic Treatment In Delhi To An Altogether Different Level.</p>
        <p style="font-size: 18px;">We Perform Procedures Like Computer Assisted Joint Replacement Surgery, Arthroscopic Surgery, Traumatic Orthopaedic Surgery, Hand, Shoulder & Elbow Surgery, Spine Surgery, Articular Surface Replacement Hip Surgery, Foot & Ankle Surgery, Total Knee & Hip Replacement Surgery Among Several Others.</p>
        <p style="font-size: 30px; font-weight:500">Conditions And Treatments Offered</p>
        <p style="font-size: 30px; font-weight:500">Disc Replacement Surgery</p>
        <p style="font-size: 18px;">Any Unremitting Lower Back Pain That Has Been There From At Least Six Months And Is Not Getting Better From Medication May Require Disc Replacement Surgery To Restore One’s Ability To Function. The Painful Disc Is Replaced With A Prosthetic Implant With An Aim To Bring Back Normal Function. There Are Certain Health Conditions That Can Prevent One From Getting A Disc Replacement Surgery. These Conditions Include Osteoporosis, Spinal Tumor, Pregnancy, Vertebral Body Fracture And Allergy To The Materials In The Artificial Implant.</p>
        <p style="font-size: 18px;">A Successful Disc Replacement Surgery Increases Motion, Improves Lifestyle Of Patient, While Relieving The Pain. Orthopedic Treatment In India Has Reached A New Bar And Patients Are Now Receiving World-Class Care And Treatment. We At Max Healthcare Believe In Offering The Patients Right Treatment And Care Straight From Day 1 To The Discharge Day. We Also Help The Patients In Knowing If They Are The Right Candidates For A Disc Replacement Surgery. The Right Candidate Should Have No Previous History Of A Disc Surgery, Should Not Be Suffering From Osteoporosis, Should Not Have Any Spinal Deformity, Should Be In Good Health, Should Not Be Overweight, No History Of Arthritis Or Spinal Infection And Should Have Undergone At Least A Month Of Non-Surgical Treatment. So, If You Are Planning To Undergo Orthopedic Treatment In Delhi, Look No Further Than Us.</p>

        <p style="font-size: 30px; font-weight:500">Total Knee Replacement Surgery</p>
        <p style="font-size: 18px;">If A Patient’s Knee Is Sternly Damaged By Arthritis Or Because Of Any Injury, It May Be Difficult For Them To Perform Everyday Activities, Such As Climbing Stairs Or Walking. After A Period, They May Even Begin To Feel Pain While Sitting Or Lying Down. When Non-Surgical Treatments Like Use Of Walking Supports And Medications Prove No Longer To Be Helpful, The Doctor May Advise The Patient To Undergo A Total Knee Replacement Surgery. It Is A Safe Procedure That Helps In Pain Relief, Corrects Leg Deformity And Helps The Patient Resume Normal Activities.</p>
        <p style="font-size: 18px;">Also Known As Knee Arthroplasty, Total Knee Replacement Surgery Is Offered Only In The Best Hospitals In Delhi. There Are Four Steps To A Total Knee Replacement Surgery. These Steps Include Preparation Of The Bone, Positioning The Metal Implants, Resurfacing The Patella And Inserting A Spacer. Before A Total Knee Replacement Surgery Is Performed, Orthopeadics Do An Evaluation Of The Medical History, Conduct A Physical Examination, X-Rays And Other Tests Like MRI And Blood Tests. The Doctor Then Reviews The Results And Discusses With The Patient If Total Knee Replacement Surgery Is The Best Option In Their Case To Improve Function And Relieve Pain. Other Treatment Options Include Physical Therapy, Medications, Injections And Other Types Of Surgery. Diligently Following The Surgeon's Instructions After The Procedure And Taking Care Of The Knee Replacement And General Health Are Important And Necessary To Contribute To The Success Of The Total Knee Replacement Surgery.</p>



    </div>
    <div style="padding-top:4rem;">
        <img src="/assets/orthopedics.png" style=" width: 100%;">
    </div>
</div>