@page "/specialities"
@rendermode InteractiveServer


<PageTitle>specialities</PageTitle>

<div class="specialities">
    <p class="specText">SPECIALITIES</p>
</div>
<div>

    <div class="specHead">
        <div>
            <div style="">
                <img src="/assets/cancer-ribbon.png" style="padding-right: 1rem; width: 10%;">
                <a href="/cancer-care"
                    style="color: seagreen;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-top: 8px;"
                    class="btn5">Cancer Care/Oncology</a>
            </div>

            <div>
                <img src="/assets/heart.png" class="logo" style="padding-right: 1rem; width: 10%;">
                <a href="/HeartVascular"
                    style="color: seagreen;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-top: 8px;"
                    class="btn5">Heart & Vascular Science</a>
            </div>

            <div>
                <img src="/assets/eye1.png" class="logo" style="padding-right: 1rem; width: 10%;">
                <a href="/eyecare"
                    style="color: seagreen;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-top: 8px;"
                    class="btn5">Eye Care</a>
            </div>

            <div>
                <img src="/assets/liver.png" class="logo" style="padding-right: 1rem; width: 10%;">
                <a href="/livertrans"
                    style="color: seagreen;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-top: 8px;"
                    class="btn5">Liver Transplant And Briliary Sciences</a>
            </div>

            <div>
                <img src="/assets/orthopedics.png" class="logo" style="padding-right: 1rem; width: 10%;">
                <a href="/ortho"
                    style="color: seagreen;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-top: 8px;"
                    class="btn5">Orthopaedics and Joint Replacement</a>
            </div>

            <div>
                <img src="/assets/neuroscience.png" class="logo" style="padding-right: 1rem; width: 10%;">
                <a href="/neuroscience"
                    style="color: seagreen;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-top: 8px;"
                    class="btn5">Neurosciences</a>
            </div>

            <div>
                <img src="/assets/Gastroenterology.png" class="logo" style="padding-right: 1rem; width: 10%;">
                <a href="/gastro"
                    style="color: seagreen;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-top: 8px;"
                    class="btn5">Gastroenterology,Hepatology & Endoscopy</a>
            </div>



        </div>

        <div>
            <img src="/assets/blog-3.jpg" style="width: 400px;height: 300px;">
        </div>
    </div>



</div>
